NET "button1" LOC = P124 | IOSTANDARD = LVTTL | PULLUP;
NET "button2" LOC = P123 | IOSTANDARD = LVTTL | PULLUP;
NET "button3" LOC = P127 | IOSTANDARD = LVTTL | PULLUP;
NET "button_reset" LOC = P58 | IOSTANDARD = LVTTL | PULLUP;

NET "display1<0>" LOC =P121;
NET "display1<1>" LOC =P120;
NET "display1<2>" LOC =P119;
NET "display1<3>" LOC =P118;
NET "display1<4>" LOC =P117;
NET "display1<5>" LOC =P116;
NET "display1<6>" LOC =P115;
NET "display_select1<0>" LOC = P114;
NET "display_select1<1>" LOC = P112;

NET "display2<0>" LOC =P105;
NET "display2<1>" LOC =P104;
NET "display2<2>" LOC =P102;
NET "display2<3>" LOC =P101;
NET "display2<4>" LOC =P79;
NET "display2<5>" LOC =P99;
NET "display2<6>" LOC =P98;
NET "display_select2<0>" LOC = P97;
NET "display_select2<1>" LOC = P95;

NET "display3<0>" LOC =P93;
NET "display3<1>" LOC =P92;
NET "display3<2>" LOC =P88;
NET "display3<3>" LOC =P87;
NET "display3<4>" LOC =P85;
NET "display3<5>" LOC =P84;
NET "display3<6>" LOC =P83;
NET "display_select3<0>" LOC = P82;
NET "display_select3<1>" LOC = P81;

NET "display_score<0>" LOC =P140;
NET "display_score<1>" LOC =P139;
NET "display_score<2>" LOC =P142;
NET "display_score<3>" LOC =P141;
NET "display_score<4>" LOC =P144;
NET "display_score<5>" LOC =P143;
NET "display_score<6>" LOC =P2;
NET "display_select_score<0>" LOC = P1;
NET "display_select_score<1>" LOC = P6;
NET "display_select_score<2>" LOC = P5;
NET "display_select_score<3>" LOC = P8;

NET "display_eqn1<0>" LOC =P7;
NET "display_eqn1<1>" LOC =P10;
NET "display_eqn1<2>" LOC =P9;
NET "display_eqn1<3>" LOC =P140;
NET "display_eqn1<4>" LOC =P11;
NET "display_eqn1<5>" LOC =P15;
NET "display_eqn1<6>" LOC =P14;
NET "display_select_eqn1<0>" LOC = P17;
NET "display_select_eqn1<1>" LOC = P16;

NET "display_eqn2<0>" LOC =P22;
NET "display_eqn2<1>" LOC =P21;
NET "display_eqn2<2>" LOC =P24;
NET "display_eqn2<3>" LOC =P23;
NET "display_eqn2<4>" LOC =P27;
NET "display_eqn2<5>" LOC =P26;
NET "display_eqn2<6>" LOC =P30;
NET "display_select_eqn2<0>" LOC = P29;
NET "display_select_eqn2<1>" LOC = P33;

NET "displayop<0>" LOC =P138;
NET "displayop<1>" LOC =P134;
NET "displayop<2>" LOC =P133;

NET "displayYN<0>" LOC =P2;
NET "displayYN<1>" LOC =P144;
NET "displayYN<2>" LOC =P143;